
body {
    height:100%;
    width:100%;
    margin:0;
    position:absolute;
    background-color: #252103;
  }
  
  .menu-card {
      background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  }
header {
    background-color: FFD700;
    color: #393939;
    padding: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
}
.menu-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menu-card h3 {
    margin-top: 0;
    color: #333;
}
.menu-card p {
    color: #6d6d6d;
}
.menu-card .price {
    font-weight: bold;
    color: #000000;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}