header {
    background-color: #DF9A8D;
    color: #ffffff;
    padding: 10px;
}
nav a {
    color: #582B39;
    text-decoration: none;
    margin-right: 20px;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
}
.menu-card {
    background-color: #DF9A8D;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menu-card h3 {
    margin-top: 0;
    color: #333;
}
.menu-card p {
    color: #6d6d6d;
}
.menu-card .price {
    font-weight: bold;
    color: #000000;
}
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.text {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
.meny {
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
html, body{
    width: 99.7%;
    height: 96%;
    margin: 0;
    padding: 0;
    background-color: #582B39;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #D2B48C;
}
header, footer {
    min-height: 25px;
}
main {
    min-height: calc(100% - 50px);
}
footer {
    background-color: #d2b48ca7;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}
